.container{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    gap: 0.2em;
}
.card{
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    border:none;
    border-radius: 0.5em;
    color: blue;
    background-color: white;
}
.card li{
   list-style: none;
}
.card a{
    text-decoration: none;
}